# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# R
.Rhistory
.RData
.Rproj.user

# VSCode or IDE
.vscode/
.idea/

# ignore data
data/
*.xpt

data/
*.csv

*.xpt

#ignore ds_store
**/.DS_Store

# ignore checkpoints
.ipynb_checkpoints/
